body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    height: 100vh;
}


.business-card {
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
    position: relative;


}

.business-card {
--primary-color: #000000;
--secondary-color: #ffffff;
--text-color: #000000;

background-color: var(--secondary-color);
border: 2px solid var(--primary-color);
}

/* Assurez-vous que tous les éléments de texte utilisent la variable --text-color */
.business-card .details h2, .business-card .details p {
color: var(--text-color);
}

/* Et pour les liens sociaux, si nécessaire */
.business-card .social-links a {
color: var(--text-color);
}

.header {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.profile {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.details {
    margin-top: 70px;
    padding: 15px;
}

.details h2 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #333;
}

.details p {
    margin: 0;
    color: #555;
}

.contact {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.contact a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #00070e;
}

.contact a i {
    font-size: 24px;
    margin-bottom: 5px;
}

.social-links {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    color: #555;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #007bff;
}

.footer {
    padding: 10px 15px;
    border-top: 1px solid #eee;
    font-size: 14px;
    color: #777;
}

.footer a {
    color: #00070f;
    text-decoration: none;
}